In [1]:
'''This program will ask you to (Books Database) In an IPython session, perform each of the following tasks on the  database from Section 17.2:
Ethan Nguyen'''
import sqlite3

# Connect to the Books database
connection = sqlite3.connect('books.db')

# Task 3: Select all books for a specific author
author_last_name = 'Deitel'  # Replace with the actual last name of the author
query3 = f"""
    SELECT titles.title, titles.copyright, titles.isbn
    FROM titles
    JOIN author_ISBN ON titles.isbn = author_ISBN.isbn
    JOIN authors ON author_ISBN.id = authors.id
    WHERE authors.last = '{author_last_name}'
    ORDER BY titles.title ASC;
"""
result3 = connection.execute(query3).fetchall()
print(f"\nBooks for Author {author_last_name} (Ordered by Title):")
for row in result3:
    print(row)

# Task 5: Insert a new title for an author
new_title = 'New Book'
new_copyright = '2024'
new_isbn = 'ISBN1234567890'
author_last_name_for_new_title = 'Deitel'  # Replace with the actual last name of the author
# First, insert the new title into the titles table
query5_1 = f"INSERT INTO titles (isbn, title, edition, copyright) VALUES ('{new_isbn}', '{new_title}', 1, '{new_copyright}');"
connection.execute(query5_1)
# Then, insert the corresponding author and ISBN into the author_ISBN table
# Get the ID of the author you want to assign the new title to
query5_2 = f"SELECT id FROM authors WHERE last = '{author_last_name_for_new_title}';"
author_id = connection.execute(query5_2).fetchone()[0]
# Use the obtained author ID and the ISBN of the new title to insert into author_ISBN
query5_3 = f"INSERT INTO author_ISBN (id, isbn) VALUES ({author_id}, '{new_isbn}');"
connection.execute(query5_3)
print(f"\nNew title '{new_title}' inserted for author '{author_last_name_for_new_title}'.")

# Commit changes and close the connection
connection.commit()
connection.close()

Books for Author Deitel (Ordered by Title):
('Android 6 for Programmers', '2016', '0134289366')
('Android 6 for Programmers', '2016', '0134289366')
('Android How to Program', '2017', '0134444302')
('Android How to Program', '2017', '0134444302')
('C How to Program', '2016', '0133976890')
('C How to Program', '2016', '0133976890')
('C++ How to Program', '2017', '0134448235')
('C++ How to Program', '2017', '0134448235')
('Internet & WWW How to Program', '2012', '0132151006')
('Internet & WWW How to Program', '2012', '0132151006')
('Internet & WWW How to Program', '2012', '0132151006')
('Intro to Python for CS and DS', '2020', '0135404673')
('Intro to Python for CS and DS', '2020', '0135404673')
('Java How to Program', '2018', '0134743350')
('Java How to Program', '2018', '0134743350')
('Visual Basic 2012 How to Program', '2014', '0133406954')
('Visual Basic 2012 How to Program', '2014', '0133406954')
('Visual Basic 2012 How to Program', '2014', '0133406954')
('Visual C# How to Program', '2017', '0134601548')
('Visual C# How to Program', '2017', '0134601548')
('Visual C++ How to Program', '2008', '0136151574')
('Visual C++ How to Program', '2008', '0136151574')

New title 'New Book' inserted for author 'Deitel'.